In [1]:
from scipy import stats
import numpy as np
import pandas as pd
import os
import csv
from pprint import pprint

In [2]:
file_path = os.path.join("Resources", "Drug_Overdose.csv")
metadata = pd.read_csv(file_path)
print(f"Data Shape: {metadata.shape}")
metadata.head()

Data Shape: (34944, 12)

,State,Year,Month,Period,Indicator,Data Value,Percent Complete,Percent Pending Investigation,State Name,Footnote,Footnote Symbol,Predicted Value
0,AK,2015,April,12 month-ending,"Natural & semi-synthetic opioids, incl. methad...",NaN,100,0.0,Alaska,Numbers may differ from published reports usin...,**,NaN
1,AK,2015,April,12 month-ending,Cocaine (T40.5),NaN,100,0.0,Alaska,Numbers may differ from published reports usin...,**,NaN
2,AK,2015,April,12 month-ending,Psychostimulants with abuse potential (T43.6),NaN,100,0.0,Alaska,Numbers may differ from published reports usin...,**,NaN
3,AK,2015,April,12 month-ending,"Opioids (T40.0-T40.4,T40.6)",NaN,100,0.0,Alaska,Numbers may differ from published reports usin...,**,NaN
4,AK,2015,April,12 month-ending,Number of Deaths,4133.0,100,0.0,Alaska,Numbers may differ from published reports usin...,**,NaN

In [3]:
value_df = metadata[metadata['Year'] >= 2016]

In [4]:
grouped_multiple = value_df.groupby(['State', 'Indicator'])

In [5]:
# retrieve the required fields
value_df= pd.DataFrame(value_df[['State', 'Year', 'Month', 'Period','Indicator','Data Value',
                   'Percent Complete','Percent Pending Investigation','Predicted Value']])

value_df.head()

,State,Year,Month,Period,Indicator,Data Value,Percent Complete,Percent Pending Investigation,Predicted Value
144,AK,2016,April,12 month-ending,"Natural & semi-synthetic opioids, incl. methad...",68.0,100,0.0,68.0
145,AK,2016,April,12 month-ending,Cocaine (T40.5),11.0,100,0.0,11.0
146,AK,2016,April,12 month-ending,Number of Drug Overdose Deaths,132.0,100,0.0,132.0
147,AK,2016,April,12 month-ending,Psychostimulants with abuse potential (T43.6),35.0,100,0.0,36.0
148,AK,2016,April,12 month-ending,Number of Deaths,4262.0,100,0.0,NaN

In [6]:
drug_table = os.path.join("Resources", "drug_final1.csv")
file_path = pd.read_csv(drug_table)
file_path = file_path
file_path = file_path.rename(columns = {"Data Value": "Death Count"})
file_path = file_path.rename(columns = {"Indicator": "Drug Name"})
file_path.head()

,Unnamed: 0,State,Year,Month,Period,Drug Name,Death Count,Percent Complete,Percent Pending Investigation,Predicted Value
0,0,AK,2016,April,12 month-ending,"Natural & semi-synthetic opioids, incl. methad...",68.0,100,0.0,68.0
1,1,AK,2016,April,12 month-ending,Cocaine (T40.5),11.0,100,0.0,11.0
2,2,AK,2016,April,12 month-ending,Number of Drug Overdose Deaths,132.0,100,0.0,132.0
3,3,AK,2016,April,12 month-ending,Psychostimulants with abuse potential (T43.6),35.0,100,0.0,36.0
4,4,AK,2016,April,12 month-ending,Number of Deaths,4262.0,100,0.0,NaN

In [7]:
# retrieve the required fields
file_path= pd.DataFrame(file_path[['State','Year', 'Month', 'Drug Name','Death Count']])

file_path.head()

,State,Year,Month,Drug Name,Death Count
0,AK,2016,April,"Natural & semi-synthetic opioids, incl. methad...",68.0
1,AK,2016,April,Cocaine (T40.5),11.0
2,AK,2016,April,Number of Drug Overdose Deaths,132.0
3,AK,2016,April,Psychostimulants with abuse potential (T43.6),35.0
4,AK,2016,April,Number of Deaths,4262.0

In [9]:
# Specify the file to write to
output_path = os.path.join("Output", "drug_final2.csv")

#save the file
file_path.to_csv(output_path,  index=False)